body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/**------------HEADER-------------*/

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  gap: 90px;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.head-soc-list {
  display: flex;
  gap: 14px;
}

/**-------------------------*/
/**----------HERO-----------*/

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-buy-btn {
  padding: 14px 40px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

.hero-made-btn {
  padding: 14px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
}

.hero-down-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}

/**-------------------------*/
/**----------FEATURES-----------*/

.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**------------------------------*/
/**-------------TASTE-------------*/

.taste {
  padding-top: 120px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0 auto 50px;
  max-width: 486px;
}

.tast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  width: calc((100% - 96px) / 4);
  padding: 28px 23px;
}

.taste-img {
  margin: 0 auto;
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 5px;
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}

/**------------------------------*/
/**-------------MADE-------------*/

.made {
  padding-top: 120px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-img {
}

.made-content {
  background-color: #ffffff;
  padding: 32px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-list {
}

.made-item + .made-item {
  margin-top: 20px;
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/**----------------------------------*/
/**-------------PRODUCTS-------------*/

.products {
  padding-top: 120px;
}

.products-title {
  max-width: 196px;
  margin: 0 auto 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  width: calc((100% - 18px * 3) / 4);
}

.products-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.products-item-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/**----------------------------------*/
/**-------------SELLERS--------------*/

.sellers {
  padding-top: 120px;
}

.sellers-title {
  max-width: 160px;
  margin: 0 auto 50px;
}

.sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.sellers-item {
  border-radius: 15px 15px 0px 0px;
}

.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**----------------------------------*/
/**-------------LOVED----------------*/

.loved {
  padding-top: 120px;
}

.loved-title {
  max-width: 268px;
  margin: 0 auto 50px;
}

.loved-list {
  display: flex;
  width: 1136px;
  height: 240px;
  justify-content: center;
  align-items: center;
  gap: 28px;
  flex-shrink: 0;
}

.loved-item {
}

.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background-color: transparent;
}

/**----------------------------------*/
/**-------------FOOTER----------------*/

.footer {
  background: #1e1823;
}
.footer-heading {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.footer-address {
  font-style: normal;
}

.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29px;
  letter-spacing: -0.02em;
}

.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
  color: #fd9222;
}
